@import 'colors.scss';

.heading-text-level1{
    font-size: 25px;
    color: $header-text-color;
    margin: 5px 0px 15px 0px;
}

.heading-text-level2{
    font-size: 15px;
    color: rgb(17, 20, 22);
    margin: 5px 0px 15px 0px;
}
.card{
    position: relative !important;
    display: flex !important;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 400px;
    border: 1px solid rgb(196, 188, 179);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 2rem;
}

.btn-active{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $btn-active;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.btn-disabled{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color:$btn-disabled;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.btn-text{
    padding: auto;
}

.navBar{
    background-color: #f6f5f8;
}

.logo{
    width: 10%;
}