$title-font-family: Arial, Verdana, Helvetica;

$btn-active: rgb(63, 137, 211);
$btn-disabled: rgb(95, 130, 165);

$header-text-color: rgb(10, 56, 102);

$normal-text-color: rgb(48, 46, 46);

$navbar-border-color: rgb(176, 192, 207);

$errorMessageTextColor: red;
$errorMessgaeFontSize:0.8rem;
